
.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.left-section {
    display: flex;
    align-items: center;
    height: 50px;
}
.logo {
    height: 80px;
    margin-left: 20px;
    margin-top: 50px;
}
.middle-section {
    flex: 1;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    justify-content: center;
}
.right-section {
    display: flex;
    align-items:flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-right: 30px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.tools {
    justify-content: space-between;
    align-items: center;
}
.tools img {
    margin-right: 10px;
    margin-left: 10px;
}
.figma {
    height: 20px;
}

.miro {
    height:20px;
}

.vsc {
    height:20px;
}

.codepen {
    height:20px;
}

.adobe {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.adobe p {
    font-size: 0.9rem;
}
.flexContainer2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin-left: 30px; 
    margin-right: 30px;}
*/

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
} */

.button {
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}

img.headshot {
    height: 200px;
    width: 200px;
    border-radius: 50%;}

  
.Projects {
    display: flex;}

/* Jonathan's edits */

.middle-section .navbar {
    list-style: none;
    padding: 0;
}
.middle-section .navbar li {
    display: inline-block;
    margin-right: 20px;
}
.right-section p {
    margin-left: 20px;
}
.left li {
    display: inline-block;
}

.left ul {
    list-style:  none;
    padding: 0;
}
.myProjects {
    padding: 50px 20px;
}
.myProjects h1, .myProjects h3 {
    text-align: center;
}

/* Flex area */

.flexContainer2 {
    max-width: 1400px;
    margin: 0 auto;
}

.left, .middle, .right {
    width: 100%;
    max-width: 33.36%;
}

.middle img {
    margin: 0 auto;
}

/* Grid section */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 40px;
    grid-template-areas: "item1 item2 item3";
    max-width: 1400px;
    margin: 0 auto;
}
.grid .item-content{
    text-align: center;
}
.item1 img, .item2 img, .item3 img {
    width: 100%;
    max-width: 500px;
}