.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.left-section {
    display: flex;
    align-items: center;
    height: 50px;
}
.logo {
    height: 80px;
    margin-left: 20px;
    margin-top: 50px;
}
.middle-section {
    flex: 1;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    justify-content: center;
}
.right-section {
    display: flex;
    align-items:flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-right: 30px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tools {
    justify-content: space-between;
    align-items: center;
}
.figma {
    height: 20px;
}

.miro {
    height:20px;
}

.vsc {
    height:20px;
}

.codepen {
    height:20px;
}

.adobe {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexContainer2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin-left: 30px; 
    margin-right: 30px;}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.button {
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}

img.headshot {
    height: 200px;
    width: 200px;
    border-radius: 50%;}

 .myProjects {
display: grid;
grid-template-rows: repeat (3, 100px);
grid-auto-rows: 150px;
 } 

.travelapp img {
    height: 30px;
}




